*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, white 0%, white 60%, gray 40%, gray 100%);
    
}  
.logo{
    
    width: 100px;
    border-radius: 99px;
    margin: 35px;
    
}
.main{  
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar{
    margin: 40px;
    padding-left: 6%;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar li{
    display: inline-block;
    padding: 2em;
    
}
.navbar a{
    padding-right: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    bottom: -5px;
    background-color: gray;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
.context{
    display: flex;
    align-items: center;
    height: 99%;
    padding-left: 10%;
}
.context h4{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.context h1{
    color: black;
    letter-spacing: 5px;
    font-size: 80px;
    
}
button{
    
    color: white;
    background-color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    margin: 20px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: gray;
    border: 2px solid;
    cursor: pointer;
}
.print{
    width: 25%;
    padding-left: 23%;
}